{% extends 'jogo/base_configuracoes.html' %}


{% block evento %}class="active"{% endblock %}
{% block evento_span %}<span class="sr-only">(current)</span>{% endblock %}
{% block body %}

    <!-- TABELA LISTA EVENTOS -->
    <div class="container">
        <h1 align="center">Eventos</h1>

        <div align="right" style="margin-right: 7%">
            <a href="{% url 'jogo:evento_new' %}"><button type="submit" class="btn btn-primary">Cadastrar Novo</button></a>
        </div>
        <br>


        <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Multiplicador Classe A</th>
                <th>Multiplicador Classe B</th>
                <th>Multiplicador Classe C</th>
                <th>Multiplicador Classe D</th>
                <th>Multiplicador Classe E</th>
                <th>Editar</th>
                <th>Deletar</th>
            </tr>
        </thead>
        <tbody>
            {% for evento in eventos %}
                <tr>
                    <td>{{evento.nome}}</td>
                    <td>{{evento.multiplicador_classeA | floatformat:2}}</td>
                    <td>{{evento.multiplicador_classeB | floatformat:2}}</td>
                    <td>{{evento.multiplicador_classeC | floatformat:2}}</td>
                    <td>{{evento.multiplicador_classeD | floatformat:2}}</td>
                    <td>{{evento.multiplicador_classeE | floatformat:2}}</td>
{#                    <td><a href="{% url 'jogo:evento_edit' evento.id %}"><button type="button" class="btn btn-warning">Editar</button></a></td>#}
{#                    <td><a href="{% url 'jogo:evento_delete' evento.id %}"><button type="button" class="btn btn-danger">Deletar</button></a></td>#}
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock body %}