{% extends 'jogo/base_configuracoes.html' %}
{% load staticfiles %}
{% block classe_social %}{% endblock %}
{% block title %}Eventos{% endblock title %}
{% block evento %}class="active"{% endblock %}

{% block evento_span %}<span class="sr-only">(current)</span>{% endblock %}
{% block body %}

    <h1 align="center">Editar Evento</h1><br>

<form action="." method="POST">{% csrf_token %}

    <div style="width: 30%; position: absolute; top:20%; bottom: 0; left: 0; right: 0; margin: 0 auto;">
        <table class="table table-striped" align="center">
            <thead>
            <tr>
                <td align="right"><b>Atributos</b></td>
                <td align="left"><b>Valores</b></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td align="right">Nome:</td>
                <td align="left">
                    <div class="col-xs-6">{{form.nome}}</div>
                </td>
            </tr>
            {% for classe, multi in multiForm %}
                <tr>
                    <td align="right">Multiplicador para {{classe.nome }}</td>
                    <td align="left">
                        <div class="col-xs-6">{{multi.valor}}</div>
                    </td>
                </tr>
            {% endfor %}


            <tr>
                <td align="right"><a  style="text-decoration:none;" href="{% url 'jogo:evento_index' %}"><button type="button" class="btn btn-warning btn-block" >Voltar</button></a></td>
                <td align="left"><button type="submit" class="btn btn-success btn-block" >Salvar</button></td>
            </tr>
            </tbody>
        </table>
    </div>
    {{form.nome.errors}}
</form>

{% endblock body %}