{% extends 'base.html' %}
{% block base_aplicar_dinamica %}class="active"{% endblock %}
{% block base_aplicar_dinamica_span %}<span class="sr-only">(current)</span>{% endblock %}
{% block body %}
<br><br>
    <style type="text/css">
    .top-buffer { margin-top:10px; }
    </style>
<div class="container" style="width:970px; max-width: none !important;">
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
           <table class="table" align="center" style="width:200px">
              <thead>
                <tr>
                  <th>Time</th>
                  <th>Código</th>
                </tr>
              </thead>
              <tbody>
                {% for time in times %}
                <tr>
                  <td>{{time}}</td>
                  <td>NO_CODE</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
      </div>
      <div class="col-xs-4">   </div>
    </div>
    <div class="row top-buffer">
        <div class="col-xs-9"></div>
        <div class="col-xs-3">
            <button type="submit" class="btn btn-primary">Parar Jogo</button>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-xs-9"></div>
        <div class="col-xs-3">
            <button type="submit" class="btn btn-primary">Iniciar Jogo</button>
        </div>
    </div>
</div>
{% endblock body %}
