<div class="card" style="height:440x">
  <div class="tabela-financeira">
    <div style="display:flex">
      <div class="celula label head">X</div>
      <div id="tf_head">
        {% for rod in rodadas %}
        <div class="celula head">Rodada: {{rod}}</div>
        {% endfor %}
        <div style="min-width:13px;background:#ccc"></div>
      </div>

    </div>
    <div style="display:flex">
      <div id="tf_label">
        {% for label, l in estatisticas.items %}
        <div class="celula label">{{label}}</div>
        {% endfor %}
        <div style="min-height:15px;background:#ccc"></div>
      </div>
      <div class="conteudo" onscroll="onScroll(this)">
        {% for label, l in estatisticas.items %}
        <div class="linha" style="display:flex">
          {% for a in l %}
          <div class="celula">{{a}}</div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
