{% extends 'base.html' %}
{% block tela_de_jogo %}class="active"{% endblock %}
{% block tela_de_jogo_span %}<span class="sr-only">(current)</span>{% endblock %}
{% block body %}
{% load staticfiles%}
  <div class="container">
    <p><br>Time: {{nome_time}}</p>
    <p id ="r_contador">1</p>

    <div style="display: inline-block">
      <button style="float:left" id="comp_modulo" onclick="comprar_modulo()" type="submit" class="btn btn-primary">Comprar Modulo</button>
    </div>
    <div style="display: inline-block">
      <input style="float:left" type="text" class="form-control" id="modulo_id" placeholder="" value="" required>
    </div>

    <div style="display:">
      <button style="float:left" id="vend_modulo" onclick="vender_modulo()" type="submit" class="btn btn-primary">Vender Modulo</button>
    </div>

    <div style="display: inline-block">
      <input style="float:left" type="text" class="form-control" id="vend_modulo_id" placeholder="" value="" required>
    </div>

    <div>
      <button style="float:left" id="contratar_medico" onclick="contratar_medico()" type="submit" class="btn btn-primary">Contratar Médico</button>
    </div>
    <div style="display: inline-block">
      <input style="float:left" type="text" class="form-control" id="medico_id" placeholder="" value="" required>
    </div>

    <div style="display:">
      <button style="float:left" id="despedir_medico" onclick="despedir_medico()" type="submit" class="btn btn-primary">Despedir Médico</button>
    </div>

    <div style="display: inline-block">
      <input style="float:left" type="text" class="form-control" id="despedir_medico_id" placeholder="" value="" required>
    </div>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/tela_de_jogo.js' %}"></script>
  </div>
{% endblock body %}
