{% load staticfiles %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/tela_de_jogo.css' %}">

  <title>{% block title %}{% endblock %}</title>
</head>
<body style="display:flex">
  <div id="modalB" class="modal">
  </div>

  <nav style="width:8%;height:100vh">
    <ul id="b_lateral" class="nav lateral">
      <li id="h-lateral">
        <img class="imagem-logo" src="{% static 'imagens/logo_pet_prod.png' %}" alt="Hospital">
        <span style="font-size: 16pt;color: #fff">Time 1</span></li>
      <li ><i class="fas fa-cart-plus" style="font-size:40"></i>
        <div style="float: right">
          <nav><ul class="submenu escondido">
            <li>Loja</li>
            <li onclick="mudar_aba('loja-medicos')">Medicos</li>
            <li onclick="mudar_aba('loja-modulos');mudar_area_modulos(null,'.area-{{areas.0}}')">Modulos</li>
          </ul></nav>
        </div>
      </li>
      <li ><i class="fas fa-hospital-alt" style="font-size:40"></i>
        <div style="float: right">
          <nav><ul class="submenu escondido">
            <li>Hospital</li>
            <li onclick="mudar_aba('hospital-medicos')">Medicos</li>
            <li onclick="mudar_aba('hospital-modulos')">Modulos</li>
          </ul></nav>
        </div>
      </li>
      <li ><i class="fas fa-chart-line" style="font-size:40"></i>
        <div style="float: right">
          <nav><ul class="submenu escondido">
            <li>Estatisticas</li>
            <li onclick="mudar_aba('estatisticas-tabela');atualizar_dashboard()">Tabela</li>
            <li onclick="mudar_aba('estatisticas-dashboards');atualizar_graficos(0)">Dashboard</li>
          </ul></nav>
        </div>
      </li>
    </ul>
  </nav>
  <div style="width:100%;display:flex;flex-direction:column">

    <nav style="height:10%">
      <ul class="nav top">
        <li><span style="padding-right:0.5em;border-right: 1px solid #ccc">Seção</span>
          <span style="padding-left:0.5em">aba</span></li>
        <li style="margin-right:auto;margin-left:auto">
          <span style="padding-right:0.5em;border-right: 1px solid #ccc;"id="t_rodada">Rodada: {{rodada_atual}}
          </span>
        <span style="padding-left:0.5em;" class="timer" id="t_timer">00:00</span></li>
        <li id="t_caixa">{{caixa}}</li>
      </ul>
    </nav>

    <!-- Loja -->
    <div style="height: 90%" id="loja-medicos" class="aba">
      <div style="display:flex;width: 100%">
        <div style="width:100%;height: 90vh;display:flex;flex-direction:column;flex-grow: 1;margin-left:auto;margin-rigth:auto;border-top: 2pt solid var(--main-bg-color)">
          <div class="central" style="overflow-y:auto;display:block;margin-left: auto;margin-right: auto">
            {% for medico in medicos %}
            <div class="med-place-holder" onclick="confirmacao(this.children[0],'medico')">
              <div class="card medico" onclick="" data-value="{{medico.id}}">
                <div class="head">
                  <div>10</div>
                  <div style="line-height:1.5em;margin:auto">
                    <span>Perfil:</span><span id="codigo_modal_modulo" class="center-p">{{medico.perfil}}</span>
                  </div>
                </div>
                <div class="body">
                  <div style="padding:0.5em; margin-left:0.5em; margin-right:1em">
                    <img class="medico-imagem" src="{% static 'imagens/medico.png' %}" alt="Medico">
                  </div>
                  <div style="margin-right:auto">
                    <div>
                      <span style="display: inline">Salário:</span> <span id="preco_modal_modulo">{{medico.salario}}</span><br>
                    </div>
                    <div>
                      {% for i in medico.expertise %}
                      <svg class="svg"version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      	 width="288.147px" height="288.147px" viewBox="0 0 288.147 288.147" style="enable-background:new 0 0 288.147 288.147;"
                      	 xml:space="preserve">
                      	<g>
                      		<g>
                      			<path d="M142.45,174.613c-4.645,0-11.495-0.514-17.779-2.926l-50.271-19.366H49.774v30.162c0,9.274,6.9,19.802,15.405,23.499
                      				l60.872,26.496c8.505,3.691,22.312,3.707,30.826,0.036l61.536-26.574c8.508-3.671,15.41-14.183,15.41-23.457v-30.162h-27.175
                      				l-44.547,18.78C156.742,173.365,149.756,174.613,142.45,174.613z"/>
                      			<path d="M6.475,112.944l121.222,46.709c8.661,3.329,22.603,3.112,31.152-0.492l115.768-48.801v71.999l-7.151,23.866h20.682
                      				l-7.399-24.114V107.45h-0.208c4.997-3.449,3.832-7.747-3.567-10.393L159.196,55.146c-8.74-3.117-22.859-2.985-31.545,0.277
                      				L6.529,100.99C-2.157,104.258-2.178,109.612,6.475,112.944z"/>
                      		</g>
                      	</g>
                      </svg>

                      {% endfor %}
                    </div>
                    <div>
                      {% for i in medico.atendimento %}
                      <img class="icone_atendimento" src="{% static 'imagens/atendimento.png' %}" alt="Atendimento"></img>
                      {% endfor %}
                    </div>
                    <div>
                      {% for i in medico.pontualidade %}
                      <img class="icone_pontualidade" src="{% static 'imagens/pontualidade.png' %}" alt="Hospital"></img>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div style="vertical-align:bottom; background: var(--main-bg-color)">
          <div class="caixa">
            <div>
              Legendas
            </div>
            <div>
              <div class="card legenda">
                <img src="{% static 'imagens/atendimento.png' %}" alt="Atendimento"></img>
                <span>Atendimento</span>
              </div>
              <div class="card legenda">
                <img  src="{% static 'imagens/expertise.png' %}" alt="Expertise"></img>
                Expertise
              </div>
              <div class="card legenda">
                <img src="{% static 'imagens/pontualidade.png' %}" alt="Hospital"></img>
                Pontualidade
              </div>
            </div>
          </div>
          <div class="caixa">
            <div>
              Meu hospital
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="loja-modulos" style="height:100%;flex-direction: column"class="aba">
      <div style="height:3em">
        <ul class="nav" style="height:4%;display:flex">
          {% for area in mod_p_area.keys %}
          <li onclick="mudar_area_modulos(this,'.area-{{area}}')">
            {{area}}
          </li>
          {% endfor %}
        </ul>
      </div>
      <div style="display:flex">
        {% for area, modulos in mod_p_area.items %}
        <div class="area area-{{area}}" style="overflow: auto;background: #e5e5e5;height:95%;padding:1em;">
            {% for modulo in modulos%}
            <div class="mod-place-holder" onclick="confirmacao(this.children[0],'modulo')">
              <div class="card modulo" data-value="{{modulo.id}}" style="">
                <div class="head">
                  <div>10</div>
                  <div style="line-height:1.5em;margin:auto">
                    <span class="center-p">Cod.:<span id="codigo_modal_modulo" class="center-p">{{modulo.id}}</span>
                    </span>
                  </div>
                </div>
                <div class="body">
                  <div>
                    <img class="modulo-imagem" src="{% static 'imagens/modulo.jpg' %}" alt="Hospital">
                  </div>
                  <div style="margin-left:1em; margin-top:0.5em">
                    <div>
                      {% for i in modulo.conforto %}
                      <img class="icone_conforto" src="{% static 'imagens/conforto.png' %}" alt="Hospital"></img>{% endfor %}
                    </div>
                    <div>
                      {% for i in modulo.tecnologia %}
                      <img class="icone_tecnologia" src="{% static 'imagens/tecnologia.png' %}" alt="Hospital"></img>{% endfor %}
                    </div>
                  </div>
                </div>
                <div style="display:flex;margin:auto;justify-content: space-around; padding:10px">
                  <div style="margin-right:2em">
                    <span style="display: inline">Preço:</span> <span id="preco_modal_modulo">{{modulo.custo_de_aquisicao}}</span><br>
                    <span style="display: inline">Custo/mês:</span> <span id="custo_modal_modulo">{{modulo.custo_mensal}}</span><br>
                  </div>
                  <div>
                    <span style="display: inline">Tratamento:</span> <span id="tratamento_modal_modulo">{{modulo.preco_do_tratamento}}</span><br>
                    <span style="display: inline">Capacidade:</span> <span id="capacidade_modal_modulo">{{modulo.capacidade}}</span><br>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        <div style="vertical-align:bottom; background: var(--main-bg-color)">
          <div class="caixa">
            <div>
              Legendas
            </div>
            <div>
              <div class="card legenda">
                <img src="{% static 'imagens/atendimento.png' %}" alt="Atendimento"></img>
                <span>Atendimento</span>
              </div>
              <div class="card legenda">
                <img src="{% static 'imagens/expertise.png' %}" alt="Expertise"></img>
                Expertise
              </div>
              <div class="card legenda">
                <img src="{% static 'imagens/pontualidade.png' %}" alt="Hospital"></img>
                Pontualidade
              </div>
            </div>
          </div>
          <div class="caixa">
            <div>
              Meu hospital
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Hospital -->
    <div id="hospital-medicos" class="aba">
      Hospital medicos
    </div>

    <div id="hospital-modulos" class="aba">
      Hospital modulos
    </div>

    <!-- Estatisticas -->
    <div id="estatisticas-tabela" class="aba">
        <div id="dashboard" style="display:flex;flex-direction:column">Load</div>
    </div>

    <div id="estatisticas-dashboards" class="aba">
      <div class="card">
        <div>
          <select id="select" onchange="atualizar_graficos(this.value)">
            {% for rod in rodadas_ate_atual %}
            <option  value="{{rod}}">{{rod}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="chart-container-bar">
          <canvas id="myBarChart"></canvas>
        </div>
      </div>
    </div>

  </div>
</body>
<script src="{% static 'js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/tela_de_jogo.js' %}"></script>
<script src="{% static 'js/utils.js' %}"></script>
<script>
function atualizar_variaveis(){
  areas = [];
  total_atendidos = [];
  procuraram_atendimento = [];
  aa = {{estatisticas | safe}};
  {%  for label in labels %}
    areas.push("{{label}}");
  {% endfor %}

  {% for atendidos in total_atendidos %}
  total_atendidos.push({{atendidos}});
  {% endfor %}
  console.log(total_atendidos);

  {% for pacientes in procuraram_atendimento %}
  procuraram_atendimento.push({{pacientes}});
  console.log({{pacientes}})
  {% endfor %}
}
</script>
</body>
