{% load staticfiles %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/tela_de_jogo.css' %}">

  <title>{% block title %}{% endblock %}</title>
</head>
<body style="display:flex">
  <div id="modalB" class="modal">
  </div>

  <nav style="width:8%;height:100vh">
    <ul id="b_lateral" class="nav lateral">
      <li id="h-lateral">Time 1</li>
      <li ><i class="fas fa-cart-plus" style="font-size:40"></i>
        <div style="float: right">
          <nav><ul class="submenu escondido">
            <li>Loja</li>
            <li onclick="mudar_aba('loja-medicos')">Medicos</li>
            <li onclick="mudar_aba('loja-modulos');mudar_area_modulos(null,'.area-{{areas.0}}')">Modulos</li>
          </ul></nav>
        </div>
      </li>
      <li ><i class="fas fa-hospital-alt" style="font-size:40"></i>
        <div style="float: right">
          <nav><ul class="submenu escondido">
            <li>Hospital</li>
            <li onclick="mudar_aba('hospital-medicos')">Medicos</li>
            <li onclick="mudar_aba('hospital-modulos')">Modulos</li>
          </ul></nav>
        </div>
      </li>
      <li ><i class="fas fa-chart-line" style="font-size:40"></i>
        <div style="float: right">
          <nav><ul class="submenu escondido">
            <li>Estatisticas</li>
            <li onclick="mudar_aba('estatisticas-tabela');atualizar_dashboard()">Tabela</li>
            <li onclick="mudar_aba('estatisticas-dashboards');atualizar_graficos(0)">Dashboard</li>
          </ul></nav>
        </div>
      </li>
    </ul>
  </nav>
  <div style="width:90%;display:flex;flex-direction:column">

    <nav style="height:10%">
      <ul class="nav">
        <li><span style="padding-right:0.5em;border-right: 1px solid #ccc">Seção</span>
          <span style="padding-left:0.5em">aba</span></li>
        <li style="margin-right:auto;margin-left:auto">
          <span style="padding-right:0.5em;border-right: 1px solid #ccc;"id="t_rodada">Rodada: {{rodada_atual}}
          </span>
        <span style="padding-left:0.5em;" class="timer" id="t_timer">00:00</span></li>
        <li id="t_caixa">{{caixa}}</li>
      </ul>
    </nav>

    <div id="modalModulo" class="modal">
      <!-- Modal do módulo -->
      <div class="modal-content-modulo">
        <img class="modulo-imagem" src="{% static 'imagens/modulo.jpg' %}" alt="Hospital">
        <div style="padding:15px">
          <ul style="list-style-type: none;" id="card-content">
            <li>
              <span style="display: inline">Cod.:</span> <span id="codigo_modal_modulo">12</span>
            </li>
            <li>
              <span style="display: inline">Preço:</span> <span id="preco_modal_modulo">1,200.00</span>
            </li>
            <li>
              <span style="display: inline">Custo/mês:</span> <span id="custo_modal_modulo">78 $</span>
            </li>
            <li>
              <span style="display: inline">Tratamento:</span> <span id="tratamento_modal_modulo">50 $</span>
            </li>
            <li>
              <span style="display: inline">Capacidade:</span> <span id="capacidade_modal_modulo">50 $</span>
            </li>
            <li>
              <span style="display: inline">Conforto:</span> <span id="conforto_modal_modulo">50 $</span>
            </li>
            <li>
              <span style="display: inline">Tecnologia:</span> <span id="tecnologia_modal_modulo">50 $</span>
            </li>
          </ul>
          <div style="display:flex;margin-top:auto;justify-content: space-around; padding:5px">
            <button id="b_comprar">Contratar</button>
            <button class="close">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
    <div id="modalMedico" class="modal">

      <!-- Modal do médico -->
      <div class="modal-content-medico">
        <div style="padding:10px; display: flex">
          <img class="medico-imagem" src="{% static 'imagens/medico.png' %}" alt="Medico">

          <ul style="list-style-type: none; margin: auto;" id="card-content">
            <li style="padding:10px; margin: auto">
              <span style="display: inline">Perfil</span> <span id="perfil_modal_medico">12</span>
            </li>
            <li>
              <span style="display: inline">Salário</span> <span id="salario_modal_medico">1,200.00</span>
            </li>
            <li>
              <span style="display: inline">Pontualidade:<span id = "pontualidade_modal_medico"> </span>
            </li>
            <li>
              <span style="display: inline">Expertise:<span id = "expertise_modal_medico"> </span>
            </li>
            <li>
              <span style="display: inline">Atendimento:<span id = "atendimento_modal_medico"> </span>
            </li>
          </ul>
        </div>
        <div style="display:flex;margin-top:auto;justify-content: space-around; padding:10px">
          <button id="b_comprar_med">Contratar</button>
          <button id="b_cancelar_med" class="close">Cancelar</button>
        </div>
      </div>
    </div>

    <!-- Loja -->
    <div id="loja-medicos" class="aba">
      <div class="card asdf" style="width:22em;display:flex;margin-top:auto; padding:0px; flex-direction:column; border-radius: 20px;">
        <div style="border-bottom:1px solid #888; display:flex; background-color:#ff3f3f; height:1.5em; border-top-left-radius: 20px; border-top-right-radius: 20px">
          <div class="center-p" style="border-right:1px solid #888; padding-right:1em; margin-left:1em">
            10
          </div>
          <div style="margin-left:auto; margin-right:auto">
            <span class="center-p">Cod.:</span><span id="codigo_modal_modulo" class="center-p">{{medico.perfil}}</span>
          </div>
        </div>
        <div style="display:flex;margin:auto; padding:10px">
          <div>
            <img class="modulo-imagem" src="{% static 'imagens/modulo.jpg' %}" alt="Hospital">
          </div>
          <div style="margin-left:1em; margin-top:0.5em">
            <div>
              {% for i in modulo.conforto %}
              <img class="icone_conforto" src="{% static 'imagens/conforto.png' %}" alt="Hospital"></img>{% endfor %}
            </div>
            <div>
              {% for i in modulo.tecnologia %}
              <img class="icone_tecnologia" src="{% static 'imagens/tecnologia.png' %}" alt="Hospital"></img>{% endfor %}
            </div>
          </div>
        </div>
        <div style="display:flex;margin:auto;justify-content: space-around; padding:10px">
          <div style="margin-right:2em">
            <span style="display: inline">Preço:</span> <span id="preco_modal_modulo">{{modulo.custo_de_aquisicao}}</span><br>
            <span style="display: inline">Custo/mês:</span> <span id="custo_modal_modulo">{{modulo.custo_mensal}}</span><br>
          </div>
          <div>
            <span style="display: inline">Tratamento:</span> <span id="tratamento_modal_modulo">{{modulo.preco_do_tratamento}}</span><br>
            <span style="display: inline">Capacidade:</span> <span id="capacidade_modal_modulo">{{modulo.capacidade}}</span><br>
          </div>
        </div>
      </div>
    </div>

    <div id="loja-modulos" style="height:100%;flex-direction: column"class="aba">
      <div style="height:5%">
      <ul class="nav" style="height:4%;display:flex">
        {% for area in mod_p_area.keys %}
        <li onclick="mudar_area_modulos(this,'.area-{{area}}')">
          {{area}}
        </li>
        {% endfor %}
      </ul>
      </div>
      {% for area, modulos in mod_p_area.items %}
      <div class="area area-{{area}}" style="overflow: auto;background: #e5e5e5;height:95%;padding:1em;">
        {% for modulo in modulos%}
        <div onclick="confirmacao(this.children[0])" style="display:inline-block;width:22em;height:14em;vertical-align: bottom">
          <div class="card asdf" style="width:22em;display:flex;margin-top:auto; padding:0px; flex-direction:column; border-radius: 20px;">
            <div style="border-bottom:1px solid #888; display:flex; background-color:#ff3f3f; height:1.5em; border-top-left-radius: 20px; border-top-right-radius: 20px">
              <div class="center-p" style="border-right:1px solid #888; padding-right:1em; margin-left:1em">
                10
              </div>
              <div style="margin-left:auto; margin-right:auto">
                <span style="margin-left:auto; margin-right:auto"class="center-p">Cod.:<span id="codigo_modal_modulo" class="center-p">{{modulo.codigo}}</span>
                </span>
              </div>
            </div>
            <div style="display:flex;margin:auto; padding:10px">
              <div>
                <img class="modulo-imagem" src="{% static 'imagens/modulo.jpg' %}" alt="Hospital">
              </div>
              <div style="margin-left:1em; margin-top:0.5em">
                <div>
                  {% for i in modulo.conforto %}
                  <img class="icone_conforto" src="{% static 'imagens/conforto.png' %}" alt="Hospital"></img>{% endfor %}
                </div>
                <div>
                  {% for i in modulo.tecnologia %}
                  <img class="icone_tecnologia" src="{% static 'imagens/tecnologia.png' %}" alt="Hospital"></img>{% endfor %}
                </div>
              </div>
            </div>
            <div style="display:flex;margin:auto;justify-content: space-around; padding:10px">
              <div style="margin-right:2em">
                <span style="display: inline">Preço:</span> <span id="preco_modal_modulo">{{modulo.custo_de_aquisicao}}</span><br>
                <span style="display: inline">Custo/mês:</span> <span id="custo_modal_modulo">{{modulo.custo_mensal}}</span><br>
              </div>
              <div>
                <span style="display: inline">Tratamento:</span> <span id="tratamento_modal_modulo">{{modulo.preco_do_tratamento}}</span><br>
                <span style="display: inline">Capacidade:</span> <span id="capacidade_modal_modulo">{{modulo.capacidade}}</span><br>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
      {% endfor %}

    </div>

    <!-- Hospital -->
    <div id="hospital-medicos" class="aba">
      Hospital medicos
    </div>

    <div id="hospital-modulos" class="aba">
      Hospital modulos
    </div>

    <!-- Estatisticas -->
    <div id="estatisticas-tabela" class="aba">
        <div id="dashboard" style="display:flex;flex-direction:column">Load</div>
    </div>

    <div id="estatisticas-dashboards" class="aba">
      <div class="card">
        <div>
          <select id="select" onchange="atualizar_graficos(this.value)">
            {% for rod in rodadas_ate_atual %}
            <option  value="{{rod}}">{{rod}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="chart-container-bar">
          <canvas id="myBarChart"></canvas>
        </div>
      </div>
    </div>

  </div>
</body>
<script src="{% static 'js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/tela_de_jogo.js' %}"></script>
<script src="{% static 'js/utils.js' %}"></script>
<script>
function atualizar_variaveis(){
  areas = [];
  total_atendidos = [];
  procuraram_atendimento = [];
  aa = {{estatisticas | safe}};
  {%  for label in labels %}
    areas.push("{{label}}");
  {% endfor %}

  {% for atendidos in total_atendidos %}
  total_atendidos.push({{atendidos}});
  {% endfor %}
  console.log(total_atendidos);

  {% for pacientes in procuraram_atendimento %}
  procuraram_atendimento.push({{pacientes}});
  console.log({{pacientes}})
  {% endfor %}
}
</script>
</body>
