{% extends 'base.html' %}
{% block tela_pre_jogo %}class="active"{% endblock %}
{% block tela_pre_jogo_1_span %}<span class="sr-only">(current)</span>{% endblock %}
{% block body %}
{% load staticfiles%}
<link rel="stylesheet" type="text/css" href="{% static 'css/tela_pre_jogo.css' %}">
<!--Passo 1-->

<br><br><br>
<div class="passo">
  <table class="table borded" id="t_times" align="center">
     <thead style="display: block;">
      <tr>
          <th class = "cabecalho" colspan=2>Times</th>
      </tr>
       <tr>
         <th>
           <input style="width:200px" input type="text" id="in_times" class="form-control" placeholder="Digite o nome do time" align="center" value="" required>
         </th>
         <th>
           <button type="submit" onclick="adiciona_time()" class="btn btn-primary">Adicionar time</button>
         </th>
       </tr>
     </thead>
     <tbody></tbody>
   </table>
</div>

<!--Passo 4-->
<style>

.table.borded{
  width: 460px;
}

.linha_normal{
  vertical-align:middle;
}

</style>

<div class="passo">
<table class="table borded" id="my_table" align="center">
   <thead style="display: block;">
    <tr>
        <th class = "cabecalho" colspan=3>Módulos</th>
    </tr>
     <tr>
       <th class = "linha_normal">
         <div style="height:50px;text-align:center;line-height:50px":>Valores padrão</div>
       </th>
       <th>
         <div align = "center">
           <font size = "1"><center> Quantidade </center></font>
         </div>
         <div align = "center">
           <input style="width:100px; height:22px; font-size:10px " type="number" id="my_input" class="form-control" placeholder="" value="1" required>
         </div>
       </th>
       <th style="width:250px">
         <div>
           <font size = "1"><center> Selecionar todos </center></font>
         </div>
         <div align = "center">
           <input type="checkbox" align="center">
         </div>

       </th>
     </tr>
   </thead>
   <tbody>
   {% for modulo in modulos %}
    <tr>
      <td>
        <div style = "width: 175px" align = "center">{{modulo.id}}</div>
      </td>
      <td>
        <div style = "width: 140px" align = "center">
          <input style="width:100px; height:22px; font-size:10px " type="number" id="my_input" class="form-control" placeholder="" value="1" required>
        </div>
      </td>
      <td>
        <div style = "margin-left: 25px" align = "left">
          <input type="checkbox" align="center">
        </div>
      <td>
    </tr>
    {% endfor %}
   </tbody>
 </table>
</div>

<!--Passo 5-->
<style>
 .table.borded{
   width: 200px;
 }
 </style>


<div class="passo">
 <table class="table borded" id="t_emprestimo" align="center">
    <thead style="display: block;">
      <tr>
        <th>
          <input style="width:120px" type="number" id="in_emprestimo" class="form-control" placeholder="" value="" required>
        </th>
        <th>
          <button type="submit" onclick="adiciona_emprestimo()" class="btn btn-primary">Vender Modulo</button>
        </th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>

<div class="row top-buffer">
  <div class="col-xs-9"></div>
  <div class="col-xs-3">
    <button type="submit" id="voltBtn" onclick="avancarPasso(-1)" class="btn btn-primary">Voltar</button>
    <button type="submit" id="proxBtn" onclick="avancarPasso(1)"class="btn btn-primary">Avançar</button>
  </div>
</div>
<script src="{% static 'js/tela_pre_jogo.js' %}"></script>

{% endblock body %}
