body{
  padding: 0px;
  margin: 0px;
}

ul{
  padding: 0;
  margin: 0;
}
div{
  color: #838383;
  font-family: sans-serif;
  font-size: large;
}

.rcorners {
    border-radius: 5px;
    border:1px solid black;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content Modulo */
.modal-content-modulo {
  border-radius: 5px;
  border:1px solid black;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  height: 400px;
  margin: 10px;
  box-shadow: 2px 4px 4px 2px rgba(0,0,0,0.2);
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 50%;
}
.modulo-imagem{
  border-top-right-radius:3px;
  border-top-left-radius:3px;
  padding:0px;
  margin:0px;
  height: 200px;
  width: 300px;
}

/* Modal Content */
.modal-content-medico {
  border-radius: 5px;
  border:1px solid black;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  height: 250px;
  margin: 10px;
  box-shadow: 2px 4px 4px 2px rgba(0,0,0,0.2);
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 50%;
}
.medico-imagem{
  border-top-right-radius:3px;
  border-top-left-radius:3px;
  padding:0px;
  margin:0px;
  height: 180px;
  width: 180px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* barra de navegação */
.nav{
  height: 45px;
  align-items: center;
  display: flex;
  background: #222;
  flex: auto;
  padding: 0;
  list-style-type: none;
}
.nav li{
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  align-content: center;
  background: #080000;
  line-height: 38px;
  color: #fff;
  cursor: pointer;
}

.nav li:hover{
    background: #080808;
}

.timer{
  margin-left: auto;
  margin-right: auto
}

.aba{
  display: none;
}
/* Valores default de Tabelas */
.table{
  min-width: 400px;
  display: flex;
  flex-direction:column;
}
.table > div{
  display: flex;
  flex-direction:column;

}
.table .thead{
  text-align:center;
  border-bottom: 2px solid #ccc;
}
.table .tbody{
  overflow-y: scroll;
  max-height:420px;
}

/* Linhas das tabelas de Modulos */

.tbody .bloco-area{
  display:flex;
}

.bloco-area .area-label {
  display:flex;
  border: 1px solid #ccc;
  border-top: 0px;
}
.bloco-area .conteudo-bloco{
  display:flex;
  flex-direction:column;
  flex-grow: 1;
}

.conteudo-bloco .linha{
  border-bottom: 1px solid #ccc;
  padding-right: 10px;
  padding-left: 10px;
}
.conteudo-bloco .linha:hover{
  background: #eee;
}

/* Cards */
.card{
    display: flex;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
}

/* TAMANHO DO GRAFICO*/
.chart-container-pie{
    width: 200px;
    height: 200px;
}

/* TAMANHO DO GRAFICO*/
.chart-container-bar{
    width: 600px;
    height: 600px;
}
