@font-face {
    font-family: WorkSans-Regular;
    src: "/font/WorkSans-Regular.ttf";
}

body{
  padding: 0px;
  margin: 0px;
}

ul{
  padding: 0;
  margin: 0;
}
div{
  color: #838383;
  font-family: WorkSans-Regular;
  font-size: large;
}
.debug {}
.debug div{
    border:1px solid black;
    text-align: center;
    margin: 0px;
}

.rcorners {
    border-radius: 5px;
    border:1px solid black;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content Modulo */
.modal-content-modulo {
  border-radius: 5px;
  border:1px solid black;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  height: 400px;
  margin: 10px;
  box-shadow: 2px 4px 4px 2px rgba(0,0,0,0.2);
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 50%;
}


/* Modal Content */
.modal-content-medico {
  border-radius: 5px;
  border:1px solid black;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  height: 250px;
  margin: 10px;
  box-shadow: 2px 4px 4px 2px rgba(0,0,0,0.2);
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 50%;
}
.medico-imagem{
  border-top-right-radius:3px;
  border-top-left-radius:3px;
  padding:0px;
  margin:0px;
  height: 180px;
  width: 180px;
}
.none {
  display: none;
}
/* The Close Button */
.close {
    color: #aaaaaa;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* barra de navegação */
.nav{
  height: 100%;
  align-items: center;
  display: flex;
  padding: 0;
  list-style-type: none;
}

.nav li{
  padding: 1em;
  align-content: center;
  color: #4d92cc;
  cursor: pointer;
}

.nav.lateral{
  height: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  background: #010812;
}

.nav.lateral > li{
  background: #010812;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  text-align: center;
}

.lateral li:last-child{
  margin-bottom: auto;
}

.nav.lateral .submenu{
  position: absolute;
  z-index: 1;
  padding: 0;
  margin: 0;
  width: 9em;
  background: #010812;
  display:none;
  list-style-type: none;
}

.nav.lateral .submenu li{
  border-left: 1px solid #cdd4db;
  height: 1em;

}

@keyframes example {
    from {width: 0%;}
    to {width: 9em;}
}

.nav.lateral li:hover .submenu{
  /* display:block;*/
  animation-name: example;
  animation-duration: 0.1s;
}
.nav.lateral .submenu li:first-child{
  border-bottom: 1px solid  #cdd4db;
  height: 0.2em;
  line-height: 0.2em;
  background: #010812;
}

#h-lateral{
    text-align: center;
    margin-top: 2em;
    margin-bottom: 5em;
    padding: 0;
}

.nav li:hover{
    color: #cdd4db;
}

.timer{

}

.aba{
  display: none;
}
/* Valores default de Tabelas */
.table{
  min-width: 400px;
  display: flex;
  flex-direction:column;
}
.table > div{
  display: flex;
  flex-direction:column;

}
.table .thead{
  text-align:center;
  border-bottom: 2px solid #ccc;
}
.table .tbody{
  overflow-y: scroll;
  max-height:420px;
}

/* Linhas das tabelas de Modulos */

.tbody .bloco-area{
  display:flex;
}

.bloco-area .area-label {
  display:flex;
  border: 1px solid #ccc;
  border-top: 0px;
}
.bloco-area .conteudo-bloco{
  display:flex;
  flex-direction:column;
  flex-grow: 1;
}

.conteudo-bloco .linha{
  border-bottom: 1px solid #ccc;
  padding-right: 10px;
  padding-left: 10px;
}
.conteudo-bloco .linha:hover{
  background: #eee;
}

/* Cards */
.card{
    display: flex;
    margin: 10px;
    padding: 15px;
    background: #fff;
    box-shadow: 2px 3px 3px 3px rgba(0,0,0,0.2);
}

.icone_conforto{
  border-top-right-radius:3px;
  border-top-left-radius:3px;
  padding:5px;
  margin:0px;
  width: 1.7em;
  height: 1em;
}

.icone_tecnologia{
  border-top-right-radius:3px;
  border-top-left-radius:3px;
  padding:5px;
  margin:0px;
  width: 1.5em;
  height: 1.75em;
}

.modulo-imagem{
  border-top-right-radius:3px;
  border-top-left-radius:3px;
  padding:0px;
  margin:0px;
  height: 100px;
  width: 150px;
}

/* TAMANHO DO GRAFICO*/
.chart-container-pie{
    width: 200px;
    height: 200px;
}

/* TAMANHO DO GRAFICO*/
.chart-container-bar{
    width: 600px;
    height: 600px;
}

/* Tabela de entradas  e saidas */
.tabela-financeira{
  display: flex;
  flex-direction: column;
}
#tf_head{
  display: flex;
  overflow-x: hidden;
}
#tf_label{
  display:flex;
  min-width: 180px;
  flex-direction: column;
  overflow-y:hidden;
}
.tabela-financeira .conteudo{
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.conteudo .linha:hover{
  background-color: #ddd;
}
.tabela-financeira .celula{
  min-width: 100px;
  min-height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.celula.label{
  min-width: 180px;
  color: #000;
  border-right: 3px solid #ccc;
}
.celula.head{
  color: #000;
  border-bottom: 3px solid #ccc;
  min-height:40px;
}
/* Altera o tamanho da tabela aqui */
#tf_head,.conteudo{
  width: 821px;
}
#tf_label,.conteudo{
  height: 400px;
}
.area{
  display: none
}
.ativo{
  display: block;
}
.subaba-ativa{
  border-bottom: 0.2em solid #ccc;
}
