:root {
    --main-bg-color: #141414;
}
@font-face {
    font-family: WorkSans-Regular;
    src: "/font/WorkSans-Regular.ttf";
}

body{
  padding: 0px;
  margin: 0px;
}

ul{
  padding: 0;
  margin: 0;
}
div{
  color: #838383;
  font-family: WorkSans-Regular;
  font-size: large;
}
.debug {}
.debug div{
    border:1px solid black;
    text-align: center;
    margin: 0px;
}

.rcorners {
    border-radius: 5px;
    border:1px solid black;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content Modulo */
.modal-content-modulo {
  border-radius: 5px;
  border:1px solid black;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  height: 400px;
  margin: 10px;
  box-shadow: 2px 4px 4px 2px rgba(0,0,0,0.2);
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 50%;
}


/* Modal Content */
.modal-content-medico {
  border-radius: 5px;
  border:1px solid black;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  height: 250px;
  margin: 10px;
  box-shadow: 2px 4px 4px 2px rgba(0,0,0,0.2);
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 50%;
}

.none {
  display: none;
}
/* The Close Button */
.close {
    color: #aaaaaa;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* barra de navegação */
.nav{
  height: 100%;
  align-items: center;
  display: flex;
  padding: 0;
  list-style-type: none;
}

.nav li{
  padding: 1em;
  align-content: center;
  color: #fbb2b2;
  cursor: pointer;
}
/* barra do topo */
.nav.top{

}
.nav.top li{
  color: #000;
}

.nav.lateral{
  max-height: 100vh;
  min-width: 5.5em;
  display:flex;
  flex-direction: column;
  align-items: center;
  background: var(--main-bg-color);
}

.nav.lateral > li{
  margin-top: 1.2em;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  text-align: center;
}

.lateral li:last-child{
  margin-bottom: auto;
}
.imagem-logo{
  padding: 0.2em;
  margin:0px;
  margin-bottom: 0.5em;
  height: 4.5em;
  width: 4.5em;
}

.nav.lateral .submenu{
  position: absolute;
  z-index: 1;
  padding: 0;
  margin: 0;
  width: 9em;
  background: #000000;
  list-style-type: none;
}

.nav.lateral .submenu li{
  border-left: 1px solid #cdd4db;
  height: 1em;

}

@keyframes example {
    from {width: 0%;}
    to {width: 9em;}
}

.nav.lateral li:hover .submenu{
  /* display:block;*/
  animation-name: example;
  animation-duration: 0.1s;
}
.nav.lateral .submenu li:first-child{
  border-bottom: 1px solid  #cdd4db;
  height: 0.2em;
  line-height: 0.2em;
}

#h-lateral{
    text-align: center;
    margin-top: 2em;
    margin-bottom: 3%;
    padding: 0;
}

.nav li:hover{
    color:#fde5e5;
}

.timer{

}

.aba{
  display: none;
}
/* Valores default de Tabelas */
.table{
  min-width: 400px;
  display: flex;
  flex-direction:column;
}
.table > div{
  display: flex;
  flex-direction:column;

}
.table .thead{
  text-align:center;
  border-bottom: 2px solid #ccc;
}
.table .tbody{
  overflow-y: scroll;
  max-height:420px;
}

/* Linhas das tabelas de Modulos */

.tbody .bloco-area{
  display:flex;
}

.bloco-area .area-label {
  display:flex;
  border: 1px solid #ccc;
  border-top: 0px;
}
.bloco-area .conteudo-bloco{
  display:flex;
  flex-direction:column;
  flex-grow: 1;
}

.conteudo-bloco .linha{
  border-bottom: 1px solid #ccc;
  padding-right: 10px;
  padding-left: 10px;
}
.conteudo-bloco .linha:hover{
  background: #eee;
}

/* Cards */
.card{
    display: flex;
    margin: 10px;
    padding: 15px;
    background: #fff;
    box-shadow: 1pt 2pt 2pt 2px rgba(0,0,0,0.2);
}
/* classes do card medico */
.med-place-holder{
  display: inline-block;
  vertical-align: bottom;
  margin: 0.2em;
}
.card.medico{
  flex-direction: column;
  margin-top: auto;
  padding:0px;
  border-radius: 3pt;
  transition: heigth 2s;
}
.card.medico, .med-place-holder{
  width: 18em;
  height: 9.8em;
}
.card.medico .head{
  display:flex;
  background-color:#a20417 ;
  height:1.5em;
  border-bottom:1px solid #888;
  border-top-left-radius: 3pt;
  border-top-right-radius: 3pt;
}
.card.medico .head div{
  text-align: center;
  padding: 0px;
  margin: 0px;
  color:#fff;
}

.card.medico .head div:first-child{
  border-right:1px solid #888;
  width: 3.5em;
  line-height: 1.5em;
}

.card.medico .body{
  display: flex;
  height: 8.3em;
  padding: 0.3em;
}

.medico-imagem{
  border-top-right-radius:3px;
  border-top-left-radius:3px;
  padding:0px;
  margin:0px;
  height: 5em;
  width: 5em;
}
.card.medico.modal-card-medico{
  position: absolute;
  font-size: 18pt;
  left: calc(50% - 11em);
  top: calc(50% - 11em);
  height: 12em;
  z-index: 2;
}
.card.medico.modal-card-medico div{
  font-size: 18pt;
}

.card.medico .bottom{
  display: flex;
  justify-content: space-around;
  height: 3em;
}

.icone_conforto{
  border-top-right-radius:3px;
  border-top-left-radius:3px;
  padding:5px;
  margin:0px;
  width: 1.7em;
  height: 1em;
}

.icone_tecnologia{
  border-top-right-radius:3px;
  border-top-left-radius:3px;
  padding:5px;
  margin:0px;
  width: 1.5em;
  height: 1.75em;
}


.icone_expertise{
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  padding: 0.1em;
  margin: 0px;
  width: 1.5em;
  height: 1.5em;
}

.icone_pontualidade{
  border-top-right-radius:3px;
  border-top-left-radius:3px;
  padding: 0.1em;
  margin:0px;
  width: 1.5em;
  height: 1.5em;
}

.icone_atendimento{
  border-top-right-radius:3px;
  border-top-left-radius:3px;
  padding: 0.1em;
  margin:0px;
  width: 1.5em;
  height: 1.5em;
}

.modulo-imagem{
  border-top-right-radius:3px;
  border-top-left-radius:3px;
  padding:0px;
  margin:0px;
  height: 100px;
  width: 150px;
}


/* TAMANHO DO GRAFICO*/
.chart-container-pie{
    width: 200px;
    height: 200px;
}

/* TAMANHO DO GRAFICO*/
.chart-container-bar{
    width: 600px;
}

/* Tabela de entradas  e saidas */
.tabela-financeira{
  display: flex;
  flex-direction: column;
}
#tf_head{
  display: flex;
  overflow-x: hidden;
}
#tf_label{
  display:flex;
  min-width: 180px;
  flex-direction: column;
  overflow-y:hidden;
}
.tabela-financeira .conteudo{
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.conteudo .linha:hover{
  background-color: #ddd;
}
.tabela-financeira .celula{
  min-width: 100px;
  min-height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.celula.label{
  min-width: 180px;
  color: #000;
  border-right: 3px solid #ccc;
}
.celula.head{
  color: #000;
  border-bottom: 3px solid #ccc;
  min-height:40px;
}
/* Altera o tamanho da tabela aqui */
#tf_head,.conteudo{
  width: 821px;
}
#tf_label,.conteudo{
  height: 400px;
}
.area{
  display: none
}
.ativo{
  display: block;
}
.escondido{
    display: none;
}
.submenu-ativo{
    display: block;
}
.subaba-ativa{
  border-bottom: 0.2em solid #ccc;
}

.modal-card-modulo{
  position: absolute;
  left: calc(50% - 11em);
  top: calc(50% - 11em);
  z-index: 2;
}



.btn {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #bf4234;
  text-decoration: none;
  padding: 0.1em;
  height: 2em;
  width: 6em;
}

.btn:hover {
  background: #fa7b0d;
  text-decoration: none;
}

.caixa{
  display: flex;
  padding: 1.5em;
  padding-bottom: 0;
  flex-direction: column;
  min-width: 18em;
  border-radius: 3pt;
  border-top-left-radius: 3pt;
  border-top-right-radius: 3pt;

}
.caixa > div:first-child{
  height: 2em;
  text-align: left;
  padding-left: 0.5em;
  border-top: 5pt solid #f20;
  line-height: 2em;
  color: #fff;
  border-top-left-radius: 3pt;
  border-top-right-radius: 3pt;
}
.caixa > div:nth-child(2){
  padding: 0em;
  display: flex;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.caixa .legenda{
  background: var(--main-bg-color);
  color: #fff;
  border-bottom: 1pt solid #666666;
  line-height: 1.5em;
  height: 1.5em;
  width: 90%;
  margin: 0.1em;
  font-size: 17.5pt;
  border-radius: 3pt;
}
.legenda img{
  filter: invert(100%);
  margin-right: 0.6em;
  float: left;
  height: 1.5em;
  width: 1.5em;
}
.central{
  min-width: 20em;
  height: 100%;
}
